@page
@model Web.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-success" asp-page="Create">Create New Product</a>

<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.Products[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>                
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a href="#" data-toggle="modal" data-target="#productDetailsModal" data-id="@item.Id">Details</a> |                    
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="productDetailsModal" tabindex="-1" role="dialog" aria-labelledby="productDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productDetailsModalLabel">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Product details will be loaded here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
    $(document).ready(function () {        
        $('#productDetailsModal').on('show.bs.modal', function (event) {                      

            var button = $(event.relatedTarget); // Button that triggered the modal
            var productId = button.data('id');  // Extract product ID from data-id                

            $.ajax({
                    url: './Products?handler=ProductDetails', // Adjust the URL to your Get method
                data: { id: productId },
                method: 'GET',
                success: function (response) {
                    // Load the fetched partial view into the modal's body
                    $('#productDetailsModal .modal-body').html(response);
                },
                error: function () {
                    $('#productDetailsModal .modal-body').html('<p>Error loading product details.</p>');
                }
            });
        });
    });
    </script>
}